<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace绑定一个对应的dao/mapper接口-->
<mapper namespace="com.example.transport.dao.UserMapper">
    <select id="getAll" resultType="com.example.transport.bean.User">
        select * from user
    </select>
    <select id="getUserId" resultType="com.example.transport.bean.User">
        select * from user where userId = #{userId}
    </select>
    <select id="getUserId2" resultType="com.example.transport.bean.UserInfo">
        select * from user_info where userId = #{userId}
    </select>
    <select id="getName" resultType="com.example.transport.bean.User">
        select * from user where name = #{name}
    </select>
    <select id="getUser" resultType="com.example.transport.bean.User">
        select * from user where name = #{name} and password = #{password}
    </select>

<!--    <select id="loginUser" resultType="com.example.transport.bean.User">-->
<!--        select * from user where name = #{name} and password = #{password}-->
<!--    </select>-->

    <insert id="add">
        insert into user(name,password,userId,email,admin) values(#{name},#{password},#{userId},#{email},#{admin})
    </insert>

</mapper>